*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  overflow: hidden;
}

.xterm-selection {
  mix-blend-mode: exclusion !important;
}

.xterm-viewport {
  background: transparent !important;

  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: none;
  }
}

$bh: 44px;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;

  &Bar {
    height: $bh;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 0.75;
    user-select: none;
    pointer-events: none;
  }

  &Content {
    height: calc(100vh - #{$bh});
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;

    &.native {
      height: 100vh;
      padding-top: 6px;
    }
  }
}

#parent,
#parent > div {
  height: 100%;
}
